# Map Creation Code

## Data Preprocessing

First of all we read the CSV file into the pandas dataframe (df).

In [3]:
import pandas as pd
import numpy as np
from arcgis.gis import *
from ast import literal_eval

df = pd.read_csv('../Crime_Data_from_2010_to_Present.csv')
df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"
5,120125367,01/08/2013,01/08/2013,1400,1,Central,111,110,CRIMINAL HOMICIDE,1243 2000 1813 1814 2002 0416 0400,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,110.0,NaN,NaN,NaN,600 N HILL ST,NaN,"(34.0591, -118.2412)"
6,101105609,01/28/2010,01/27/2010,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"(34.1211, -118.2048)"
7,101620051,11/11/2010,11/07/2010,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"(34.241, -118.3987)"
8,101910498,04/07/2010,04/07/2010,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"(34.3147, -118.4589)"
9,120908292,03/29/2013,01/15/2013,800,9,Van Nuys,904,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0344 1300,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,7200 SEPULVEDA BL,NaN,"(34.2012, -118.4662)"
10,101927640,12/31/2010,12/30/2010,2100,19,Mission,1964,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,NORDHOFF,TOBIAS,"(34.2354, -118.4517)"
11,101323794,10/26/2010,10/26/2010,1315,13,Newton,1321,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,21ST,BROADWAY,"(34.0294, -118.2671)"
12,121207315,02/22/2013,02/13/2013,1200,12,77th Street,1266,440,THEFT PLAIN - PETTY ($950 & UNDER),1300 0701 1402,...,NaN,IC,Invest Cont,440.0,998.0,NaN,NaN,82ND,BROADWAY,"(33.9651, -118.2783)"
13,121215506,06/20/2013,06/07/2013,1200,12,77th Street,1268,763,STALKING,0443 0913 1309,...,NaN,AO,Adult Other,763.0,NaN,NaN,NaN,100 W 82ND ST,NaN,"(33.9651, -118.2754)"
14,121504289,01/06/2013,01/06/2013,2030,15,N Hollywood,1511,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),1402 0325,...,NaN,IC,Invest Cont,442.0,998.0,NaN,NaN,13000 SHERMAN WY,NaN,"(34.2012, -118.416)"
15,121801608,01/02/2013,01/01/2013,500,18,Southeast,1823,626,INTIMATE PARTNER - SIMPLE ASSAULT,0334 0443 0408 0416,...,NaN,IC,Invest Cont,626.0,NaN,NaN,NaN,CENTURY BL,AVALON,"(33.9456, -118.2652)"
16,130100507,01/02/2013,01/02/2013,1420,1,Central,174,624,BATTERY - SIMPLE ASSAULT,0416 0400 0429,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,800 S SPRING ST,NaN,"(34.0431, -118.2536)"
17,130100508,01/02/2013,01/02/2013,1430,1,Central,134,626,INTIMATE PARTNER - SIMPLE ASSAULT,2004 1218 1813 1814 2002 0444 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,4TH,HILL,"(34.0503, -118.2504)"
18,130100509,01/02/2013,01/02/2013,1500,1,Central,185,624,BATTERY - SIMPLE ASSAULT,0917 0419 0429 0417,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",JA,Juv Arrest,624.0,NaN,NaN,NaN,300 E PICO BL,NaN,"(34.0352, -118.2583)"
19,130100515,01/05/2013,01/04/2013,1730,1,Central,162,670,"EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)",0344,...,NaN,IC,Invest Cont,670.0,NaN,NaN,NaN,700 W 7TH ST,NaN,"(34.048, -118.2577)"
20,130100518,01/05/2013,01/05/2013,100,1,Central,171,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,800 W OLYMPIC BL,NaN,"(34.045, -118.264)"
21,130100519,01/05/2013,01/05/2013,2200,1,Central,192,649,DOCUMENT FORGERY / STOLEN FELONY,0800,...,NaN,IC,Invest Cont,649.0,NaN,NaN,NaN,1300 S FIGUEROA ST,NaN,"(34.0407, -118.268)"
22,130100521,01/05/2013,01/05/2013,1600,1,Central,156,626,INTIMATE PARTNER - SIMPLE ASSAULT,0305 0400 0429 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6TH ST,SAN JULIAN ST,"(34.0423, -118.2452)"
23,130100522,01/15/2013,01/05/2013,2010,1,Central,133,624,BATTERY - SIMPLE ASSAULT,0400,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,200 S SPRING ST,NaN,"(34.0517, -118.2456)"
24,130100526,01/06/2013,01/06/2013,2315,1,Central,166,624,BATTERY - SIMPLE ASSAULT,0400 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,999.0,NaN,NaN,600 WALL ST,NaN,"(34.0435, -118.2471)"
25,130100532,01/09/2013,01/09/2013,1120,1,Central,192,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,1300 S HOPE ST,NaN,"(34.0395, -118.2656)"
26,101009426,04/20/2010,04/20/2010,1230,10,West Valley,1018,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,ARMINTA,GLORIA,"(34.2139, -118.4793)"
27,130100538,01/12/2013,01/11/2013,1630,1,Central,119,480,BIKE - STOLEN,0344,...,NaN,AA,Adult Arrest,480.0,NaN,NaN,NaN,900 N ALAMEDA ST,NaN,"(34.0581, -118.2371)"
28,130100539,01/12/2013,01/12/2013,1815,1,Central,105,210,ROBBERY,1218 1310 0344 0400 0352,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,210.0,NaN,NaN,NaN,BISHOPS,BROADWAY,"(34.0688, -118.2333)"
29,130100544,01/12/2013,01/12/2013,1930,1,Central,144,626,INTIMATE PARTNER - SIMPLE ASSAULT,0400 2000 0429,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,400 S MAIN ST,NaN,"(34.0482, -118.2472)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1621408,172119193,11/01/2017,11/01/2017,1615,21,Topanga,2185,310,BURGLARY,1609 0344,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,5000 LLANO DR,NaN,"(34.1595, -118.6121)"
1621409,172119194,11/02/2017,10/31/2017,1830,21,Topanga,2134,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,7400 FAUST AV,NaN,"(34.2048, -118.6203)"
1621410,172119198,11/02/2017,11/01/2017,2100,21,Topanga,2136,330,BURGLARY FROM VEHICLE,1609 0344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,7300 VARIEL AV,NaN,"(34.2047, -118.5994)"
1621411,172119202,11/02/2017,11/02/2017,1300,21,Topanga,2177,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 1813 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,5700 CANOGA AV,NaN,"(34.1733, -118.5974)"
1621412,172119204,11/02/2017,11/02/2017,1630,21,Topanga,2128,330,BURGLARY FROM VEHICLE,0344 1307 0377,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,20100 SATICOY ST,NaN,"(34.212, -118.5754)"
1621413,172119205,11/02/2017,11/02/2017,1430,21,Topanga,2113,310,BURGLARY,0344 0352 0321 1609,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,22500 SATICOY ST,NaN,"(34.2143, -118.6206)"
1621414,172119206,11/02/2017,10/28/2017,1935,21,Topanga,2147,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416,...,NaN,IC,Invest Cont,626.0,NaN,NaN,NaN,7100 DE SOTO AV,NaN,"(34.1992, -118.5885)"
1621415,172119208,11/02/2017,11/02/2017,630,21,Topanga,2187,888,TRESPASSING,1501,...,NaN,IC,Invest Cont,888.0,NaN,NaN,NaN,21700 VENTURA BL,NaN,"(34.1683, -118.6007)"
1621416,172119209,11/02/2017,10/30/2017,1330,21,Topanga,2177,440,THEFT PLAIN - PETTY ($950 & UNDER),0344,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,21600 OXNARD ST,NaN,"(34.1793, -118.6002)"
1621417,172119210,11/02/2017,11/02/2017,1100,21,Topanga,2147,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,...,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,20900 SHERMAN WY,NaN,"(34.201, -118.5885)"
1621418,172119211,11/02/2017,11/01/2017,800,21,Topanga,2134,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,...,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,22200 SATICOY ST,NaN,"(34.2083, -118.6103)"
1621419,172119212,11/02/2017,09/15/2017,1200,21,Topanga,2155,310,BURGLARY,0344 0352 1607,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,22100 ERWIN ST,NaN,"(34.1829, -118.6077)"
1621420,172119213,11/02/2017,11/02/2017,830,21,Topanga,2161,310,BURGLARY,0344 0352 1609,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,24300 HATTERAS ST,NaN,"(34.1752, -118.6548)"
1621421,172119218,11/02/2017,10/25/2017,1200,21,Topanga,2103,354,THEFT OF IDENTITY,0377,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,8900 NEVADA AV,NaN,"(34.232, -118.608)"
1621422,172119219,11/02/2017,11/02/2017,300,21,Topanga,2147,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,1912 0422 0443 0913 1816,...,VERBAL THREAT,IC,Invest Cont,930.0,NaN,NaN,NaN,20700 SCHOOLCRAFT ST,NaN,"(34.1968, -118.5847)"
1621423,172119220,11/02/2017,11/02/2017,1755,21,Topanga,2183,310,BURGLARY,1609 1202 0344,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,22800 CASS AV,NaN,"(34.1591, -118.6222)"
1621424,172119221,11/02/2017,11/02/2017,1810,21,Topanga,2158,210,ROBBERY,0344 0446,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,210.0,NaN,NaN,NaN,6100 CANOGA AV,NaN,"(34.1805, -118.5975)"
1621425,172119223,11/02/2017,11/02/2017,1805,21,Topanga,2142,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6400 PLATT AV,NaN,"(34.1866, -118.6428)"
1621426,172119224,11/02/2017,11/02/2017,1902,21,Topanga,2144,310,BURGLARY,0344 0352 1609,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,22400 BESSEMER ST,NaN,"(34.1802, -118.6147)"
1621427,172119239,11/02/2017,10/25/2017,2130,21,Topanga,2143,121,"RAPE, FORCIBLE",0519 0500 0940,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,121.0,NaN,NaN,NaN,6000 FALLBROOK AV,NaN,"(34.1883, -118.6274)"
1621428,172119240,10/30/2017,10/30/2016,1200,21,Topanga,2136,354,THEFT OF IDENTITY,0917 1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7300 ETON AV,NaN,"(34.2029, -118.5955)"
1621429,172119245,11/02/2017,11/01/2017,1700,21,Topanga,2177,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,5800 COMANCHE AV,NaN,"(34.176, -118.5724)"
1621430,172119252,11/03/2017,10/29/2017,1200,21,Topanga,2118,956,"LETTERS, LEWD",1814,...,NaN,IC,Invest Cont,956.0,NaN,NaN,NaN,8000 SUNNY BRAE AV,NaN,"(34.2156, -118.5809)"
1621431,172119253,11/03/2017,10/30/2017,1800,21,Topanga,2146,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0377,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,21200 SHERMAN WY,NaN,"(34.201, -118.5943)"
1621432,172119257,11/03/2017,11/03/2017,700,21,Topanga,2139,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 1813 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,20200 SHERMAN WY,NaN,"(34.2047, -118.5688)"
1621433,172119258,10/30/2017,09/16/2017,1200,21,Topanga,2187,354,THEFT OF IDENTITY,0377 0928 1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,5300 ELVIRA RD,NaN,"(34.1649, -118.6027)"
1621434,172119261,11/03/2017,11/03/2017,1200,21,Topanga,2145,649,DOCUMENT FORGERY / STOLEN FELONY,0377 0923 1822,...,NaN,IC,Invest Cont,649.0,NaN,NaN,NaN,6500 TOPANGA CANYON BL,NaN,"(34.1923, -118.6104)"
1621435,172119263,11/03/2017,11/03/2017,1430,21,Topanga,2143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325 0352,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"(34.1883, -118.6274)"
1621436,172119265,11/03/2017,11/03/2017,1800,21,Topanga,2156,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0377,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,6600 TOPANGA CANYON BL,NaN,"(34.1905, -118.6059)"
1621437,172119268,11/03/2017,11/03/2017,1530,21,Topanga,2104,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 1813 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,TOPANGA CANYON BL,SHERMAN WY,"(34.232, -118.6006)"

The data in the location column is parsed as a string. The location column has two types of impurities. It has nan values of the type float and strings '(0, 0)' which also do not contain any true information. We fetch indices for the values of nan in the location column.

In [4]:
temp = [p for p in df['Location ']]
badentries = []
for i in range(len(temp)):
    if type(temp[i]) != str:
        badentries.append(i)
badentries #ones with location nan

[659026, 736132, 1473914, 1532070, 1532072, 1532073, 1532086, 1532087, 1532089]

There are 9 rows with nan values in the location column.We drop these rows with these indices and pass this new dataframe as df1 and verify that non-strings are truly gone from the dataset.

In [5]:
df1 = df.drop(df.index[badentries])
temp = [p for p in df1['Location ']]
for i in range(len(temp)):
    if type(temp[i]) != str:
        print(i)

We apply literal_eval to the location column to convert strings to tuples

In [6]:
df1['Location '] = df1['Location '].apply(literal_eval)

We fetch the (0, 0) rows and drop them as well. There are 5869 rows with location (0, 0).

In [7]:
grp =df.groupby('Location ')
Nan = grp.get_group('(0, 0)')# "No location"
Nan.count()
df1 = df1.drop(Nan.index)

In [8]:
df1

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"
5,120125367,01/08/2013,01/08/2013,1400,1,Central,111,110,CRIMINAL HOMICIDE,1243 2000 1813 1814 2002 0416 0400,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,110.0,NaN,NaN,NaN,600 N HILL ST,NaN,"(34.0591, -118.2412)"
6,101105609,01/28/2010,01/27/2010,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"(34.1211, -118.2048)"
7,101620051,11/11/2010,11/07/2010,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"(34.241, -118.3987)"
8,101910498,04/07/2010,04/07/2010,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"(34.3147, -118.4589)"
9,120908292,03/29/2013,01/15/2013,800,9,Van Nuys,904,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0344 1300,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,7200 SEPULVEDA BL,NaN,"(34.2012, -118.4662)"
10,101927640,12/31/2010,12/30/2010,2100,19,Mission,1964,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,NORDHOFF,TOBIAS,"(34.2354, -118.4517)"
11,101323794,10/26/2010,10/26/2010,1315,13,Newton,1321,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,21ST,BROADWAY,"(34.0294, -118.2671)"
12,121207315,02/22/2013,02/13/2013,1200,12,77th Street,1266,440,THEFT PLAIN - PETTY ($950 & UNDER),1300 0701 1402,...,NaN,IC,Invest Cont,440.0,998.0,NaN,NaN,82ND,BROADWAY,"(33.9651, -118.2783)"
13,121215506,06/20/2013,06/07/2013,1200,12,77th Street,1268,763,STALKING,0443 0913 1309,...,NaN,AO,Adult Other,763.0,NaN,NaN,NaN,100 W 82ND ST,NaN,"(33.9651, -118.2754)"
14,121504289,01/06/2013,01/06/2013,2030,15,N Hollywood,1511,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),1402 0325,...,NaN,IC,Invest Cont,442.0,998.0,NaN,NaN,13000 SHERMAN WY,NaN,"(34.2012, -118.416)"
15,121801608,01/02/2013,01/01/2013,500,18,Southeast,1823,626,INTIMATE PARTNER - SIMPLE ASSAULT,0334 0443 0408 0416,...,NaN,IC,Invest Cont,626.0,NaN,NaN,NaN,CENTURY BL,AVALON,"(33.9456, -118.2652)"
16,130100507,01/02/2013,01/02/2013,1420,1,Central,174,624,BATTERY - SIMPLE ASSAULT,0416 0400 0429,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,800 S SPRING ST,NaN,"(34.0431, -118.2536)"
17,130100508,01/02/2013,01/02/2013,1430,1,Central,134,626,INTIMATE PARTNER - SIMPLE ASSAULT,2004 1218 1813 1814 2002 0444 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,4TH,HILL,"(34.0503, -118.2504)"
18,130100509,01/02/2013,01/02/2013,1500,1,Central,185,624,BATTERY - SIMPLE ASSAULT,0917 0419 0429 0417,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",JA,Juv Arrest,624.0,NaN,NaN,NaN,300 E PICO BL,NaN,"(34.0352, -118.2583)"
19,130100515,01/05/2013,01/04/2013,1730,1,Central,162,670,"EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)",0344,...,NaN,IC,Invest Cont,670.0,NaN,NaN,NaN,700 W 7TH ST,NaN,"(34.048, -118.2577)"
20,130100518,01/05/2013,01/05/2013,100,1,Central,171,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,800 W OLYMPIC BL,NaN,"(34.045, -118.264)"
21,130100519,01/05/2013,01/05/2013,2200,1,Central,192,649,DOCUMENT FORGERY / STOLEN FELONY,0800,...,NaN,IC,Invest Cont,649.0,NaN,NaN,NaN,1300 S FIGUEROA ST,NaN,"(34.0407, -118.268)"
22,130100521,01/05/2013,01/05/2013,1600,1,Central,156,626,INTIMATE PARTNER - SIMPLE ASSAULT,0305 0400 0429 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6TH ST,SAN JULIAN ST,"(34.0423, -118.2452)"
23,130100522,01/15/2013,01/05/2013,2010,1,Central,133,624,BATTERY - SIMPLE ASSAULT,0400,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,200 S SPRING ST,NaN,"(34.0517, -118.2456)"
24,130100526,01/06/2013,01/06/2013,2315,1,Central,166,624,BATTERY - SIMPLE ASSAULT,0400 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,999.0,NaN,NaN,600 WALL ST,NaN,"(34.0435, -118.2471)"
25,130100532,01/09/2013,01/09/2013,1120,1,Central,192,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,1300 S HOPE ST,NaN,"(34.0395, -118.2656)"
26,101009426,04/20/2010,04/20/2010,1230,10,West Valley,1018,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,ARMINTA,GLORIA,"(34.2139, -118.4793)"
27,130100538,01/12/2013,01/11/2013,1630,1,Central,119,480,BIKE - STOLEN,0344,...,NaN,AA,Adult Arrest,480.0,NaN,NaN,NaN,900 N ALAMEDA ST,NaN,"(34.0581, -118.2371)"
28,130100539,01/12/2013,01/12/2013,1815,1,Central,105,210,ROBBERY,1218 1310 0344 0400 0352,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,210.0,NaN,NaN,NaN,BISHOPS,BROADWAY,"(34.0688, -118.2333)"
29,130100544,01/12/2013,01/12/2013,1930,1,Central,144,626,INTIMATE PARTNER - SIMPLE ASSAULT,0400 2000 0429,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,400 S MAIN ST,NaN,"(34.0482, -118.2472)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1621408,172119193,11/01/2017,11/01/2017,1615,21,Topanga,2185,310,BURGLARY,1609 0344,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,5000 LLANO DR,NaN,"(34.1595, -118.6121)"
1621409,172119194,11/02/2017,10/31/2017,1830,21,Topanga,2134,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,7400 FAUST AV,NaN,"(34.2048, -118.6203)"
1621410,172119198,11/02/2017,11/01/2017,2100,21,Topanga,2136,330,BURGLARY FROM VEHICLE,1609 0344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,7300 VARIEL AV,NaN,"(34.2047, -118.5994)"
1621411,172119202,11/02/2017,11/02/2017,1300,21,Topanga,2177,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 1813 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,5700 CANOGA AV,NaN,"(34.1733, -118.5974)"
1621412,172119204,11/02/2017,11/02/2017,1630,21,Topanga,2128,330,BURGLARY FROM VEHICLE,0344 1307 0377,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,20100 SATICOY ST,NaN,"(34.212, -118.5754)"
1621413,172119205,11/02/2017,11/02/2017,1430,21,Topanga,2113,310,BURGLARY,0344 0352 0321 1609,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,22500 SATICOY ST,NaN,"(34.2143, -118.6206)"
1621414,172119206,11/02/2017,10/28/2017,1935,21,Topanga,2147,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416,...,NaN,IC,Invest Cont,626.0,NaN,NaN,NaN,7100 DE SOTO AV,NaN,"(34.1992, -118.5885)"
1621415,172119208,11/02/2017,11/02/2017,630,21,Topanga,2187,888,TRESPASSING,1501,...,NaN,IC,Invest Cont,888.0,NaN,NaN,NaN,21700 VENTURA BL,NaN,"(34.1683, -118.6007)"
1621416,172119209,11/02/2017,10/30/2017,1330,21,Topanga,2177,440,THEFT PLAIN - PETTY ($950 & UNDER),0344,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,21600 OXNARD ST,NaN,"(34.1793, -118.6002)"
1621417,172119210,11/02/2017,11/02/2017,1100,21,Topanga,2147,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,...,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,20900 SHERMAN WY,NaN,"(34.201, -118.5885)"
1621418,172119211,11/02/2017,11/01/2017,800,21,Topanga,2134,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,...,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,22200 SATICOY ST,NaN,"(34.2083, -118.6103)"
1621419,172119212,11/02/2017,09/15/2017,1200,21,Topanga,2155,310,BURGLARY,0344 0352 1607,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,22100 ERWIN ST,NaN,"(34.1829, -118.6077)"
1621420,172119213,11/02/2017,11/02/2017,830,21,Topanga,2161,310,BURGLARY,0344 0352 1609,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,24300 HATTERAS ST,NaN,"(34.1752, -118.6548)"
1621421,172119218,11/02/2017,10/25/2017,1200,21,Topanga,2103,354,THEFT OF IDENTITY,0377,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,8900 NEVADA AV,NaN,"(34.232, -118.608)"
1621422,172119219,11/02/2017,11/02/2017,300,21,Topanga,2147,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,1912 0422 0443 0913 1816,...,VERBAL THREAT,IC,Invest Cont,930.0,NaN,NaN,NaN,20700 SCHOOLCRAFT ST,NaN,"(34.1968, -118.5847)"
1621423,172119220,11/02/2017,11/02/2017,1755,21,Topanga,2183,310,BURGLARY,1609 1202 0344,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,22800 CASS AV,NaN,"(34.1591, -118.6222)"
1621424,172119221,11/02/2017,11/02/2017,1810,21,Topanga,2158,210,ROBBERY,0344 0446,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,210.0,NaN,NaN,NaN,6100 CANOGA AV,NaN,"(34.1805, -118.5975)"
1621425,172119223,11/02/2017,11/02/2017,1805,21,Topanga,2142,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6400 PLATT AV,NaN,"(34.1866, -118.6428)"
1621426,172119224,11/02/2017,11/02/2017,1902,21,Topanga,2144,310,BURGLARY,0344 0352 1609,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,22400 BESSEMER ST,NaN,"(34.1802, -118.6147)"
1621427,172119239,11/02/2017,10/25/2017,2130,21,Topanga,2143,121,"RAPE, FORCIBLE",0519 0500 0940,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,121.0,NaN,NaN,NaN,6000 FALLBROOK AV,NaN,"(34.1883, -118.6274)"
1621428,172119240,10/30/2017,10/30/2016,1200,21,Topanga,2136,354,THEFT OF IDENTITY,0917 1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7300 ETON AV,NaN,"(34.2029, -118.5955)"
1621429,172119245,11/02/2017,11/01/2017,1700,21,Topanga,2177,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,5800 COMANCHE AV,NaN,"(34.176, -118.5724)"
1621430,172119252,11/03/2017,10/29/2017,1200,21,Topanga,2118,956,"LETTERS, LEWD",1814,...,NaN,IC,Invest Cont,956.0,NaN,NaN,NaN,8000 SUNNY BRAE AV,NaN,"(34.2156, -118.5809)"
1621431,172119253,11/03/2017,10/30/2017,1800,21,Topanga,2146,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0377,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,21200 SHERMAN WY,NaN,"(34.201, -118.5943)"
1621432,172119257,11/03/2017,11/03/2017,700,21,Topanga,2139,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 1813 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,20200 SHERMAN WY,NaN,"(34.2047, -118.5688)"
1621433,172119258,10/30/2017,09/16/2017,1200,21,Topanga,2187,354,THEFT OF IDENTITY,0377 0928 1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,5300 ELVIRA RD,NaN,"(34.1649, -118.6027)"
1621434,172119261,11/03/2017,11/03/2017,1200,21,Topanga,2145,649,DOCUMENT FORGERY / STOLEN FELONY,0377 0923 1822,...,NaN,IC,Invest Cont,649.0,NaN,NaN,NaN,6500 TOPANGA CANYON BL,NaN,"(34.1923, -118.6104)"
1621435,172119263,11/03/2017,11/03/2017,1430,21,Topanga,2143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325 0352,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"(34.1883, -118.6274)"
1621436,172119265,11/03/2017,11/03/2017,1800,21,Topanga,2156,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0377,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,6600 TOPANGA CANYON BL,NaN,"(34.1905, -118.6059)"
1621437,172119268,11/03/2017,11/03/2017,1530,21,Topanga,2104,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 1813 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,TOPANGA CANYON BL,SHERMAN WY,"(34.232, -118.6006)"

We split the location tuple into two columns x and y, where x is longitude and y is latitude. Notice, that these columns are flipped in the data. We delete the location column after these operations.

In [18]:
new_col_list = ['y','x']
for n,col in enumerate(new_col_list):
    df1[col] = df1['Location '].apply(lambda location: location[n])
#del df1['Location ']

KeyError: 0

In [10]:
df1.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location ', 'y', 'x'],
      dtype='object')

In [17]:
df1 = df1.groupby('Location ')
df1.count()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,y,x
Location,,,,,,,,,,,,,,,,,,,,,
"(33.3427, -118.3258)",6,6,6,6,6,6,6,6,6,6,...,6,6,6,0,0,0,6,6,6,6
"(33.7058, -118.2906)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,1,1,1
"(33.706, -118.2898)",5,5,5,5,5,5,5,5,5,5,...,5,5,5,0,0,0,5,0,5,5
"(33.7062, -118.2917)",28,28,28,28,28,28,28,28,28,24,...,28,28,28,3,0,0,28,0,28,28
"(33.7065, -118.2928)",30,30,30,30,30,30,30,30,30,27,...,30,30,30,5,1,0,30,30,30,30
"(33.7065, -118.2879)",3,3,3,3,3,3,3,3,3,2,...,3,3,3,0,0,0,3,1,3,3
"(33.7067, -118.2879)",3,3,3,3,3,3,3,3,3,2,...,3,3,3,0,0,0,3,3,3,3
"(33.7068, -118.2879)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(33.707, -118.2939)",39,39,39,39,39,39,39,39,39,39,...,39,39,39,1,0,0,39,4,39,39
"(33.707, -118.2934)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(33.707, -118.2929)",8,8,8,8,8,8,8,8,8,7,...,8,8,8,2,0,0,8,8,8,8
"(33.707, -118.2916)",25,25,25,25,25,25,25,25,25,22,...,25,25,25,3,0,0,25,0,25,25
"(33.707, -118.2912)",4,4,4,4,4,4,4,4,4,4,...,4,4,4,0,0,0,4,0,4,4
"(33.707, -118.2907)",16,16,16,16,16,16,16,16,16,14,...,16,16,16,0,0,0,16,10,16,16
"(33.707, -118.2901)",8,8,8,8,8,8,8,8,8,5,...,8,8,8,0,0,0,8,0,8,8
"(33.707, -118.2885)",2,2,2,2,2,2,2,2,2,1,...,2,2,2,1,0,0,2,2,2,2
"(33.7071, -118.288)",13,13,13,13,13,13,13,13,13,12,...,13,13,13,1,0,0,13,1,13,13
"(33.7079, -118.2929)",21,21,21,21,21,21,21,21,21,16,...,21,21,21,0,0,0,21,4,21,21
"(33.7079, -118.2916)",12,12,12,12,12,12,12,12,12,10,...,12,12,12,0,0,0,12,0,12,12
"(33.7079, -118.2912)",2,2,2,2,2,2,2,2,2,1,...,2,2,2,0,0,0,2,0,2,2
"(33.7079, -118.2907)",12,12,12,12,12,12,12,12,12,7,...,12,12,12,0,0,0,12,1,12,12
"(33.7079, -118.2901)",22,22,22,22,22,22,22,22,22,21,...,22,22,22,1,0,0,22,0,22,22
"(33.7079, -118.2879)",62,62,62,62,62,62,62,62,62,54,...,62,62,62,3,0,0,62,5,62,62
"(33.7079, -118.2863)",25,25,25,25,25,25,25,25,25,24,...,25,25,25,0,0,0,25,4,25,25
"(33.7081, -118.2947)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(33.7086, -118.2879)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(33.7087, -118.2929)",6,6,6,6,6,6,6,6,6,3,...,6,6,6,0,0,0,6,2,6,6
"(33.7087, -118.2862)",28,28,28,28,28,28,28,28,28,28,...,28,28,28,2,0,0,28,0,28,28
"(33.7088, -118.2916)",24,24,24,24,24,24,24,24,24,20,...,24,24,24,3,1,0,24,0,24,24
"(33.7088, -118.2912)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(34.4311, -118.4856)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.4526, -118.5002)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.4527, -117.6596)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.4544, -118.4846)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.4736, -118.1784)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,1,1,1
"(34.4906, -118.6176)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.4922, -118.6366)",1,1,1,1,1,1,1,1,1,0,...,1,1,1,0,0,0,1,0,1,1
"(34.5304, -118.1418)",2,2,2,2,2,2,2,2,2,2,...,2,2,2,0,0,0,2,0,2,2
"(34.5418, -118.0664)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.5477, -118.1348)",2,2,2,2,2,2,2,2,2,2,...,2,2,2,0,0,0,2,2,2,2
"(34.5491, -118.0283)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,1,1,1
"(34.5494, -118.0282)",1,1,1,1,1,1,1,1,1,0,...,1,1,1,0,0,0,1,0,1,1
"(34.5539, -118.1009)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,1,0,1,1
"(34.5544, -118.0762)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,1,1,1
"(34.576, -118.0115)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.5763, -117.809)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.5793, -118.1399)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.5877, -118.1548)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.5957, -118.1784)",2,2,2,2,2,2,2,2,2,2,...,2,2,2,0,0,0,2,2,2,2
"(34.5967, -118.1757)",3,3,3,3,3,3,3,3,3,3,...,3,3,3,1,0,0,3,0,3,3
"(34.6116, -118.2019)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.6165, -118.1849)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.6331, -118.2264)",2,2,2,2,2,2,2,2,2,1,...,2,2,2,0,0,0,2,0,2,2
"(34.634, -118.2261)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,1,0,1,1
"(34.6508, -118.2464)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.6648, -118.1223)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.6765, -118.1089)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,1,1
"(34.6828, -118.0991)",2,2,2,2,2,2,2,2,2,1,...,2,2,2,0,0,0,2,2,2,2
"(34.706, -118.0879)",2,2,2,2,2,2,2,2,2,2,...,2,2,2,0,0,0,2,0,2,2
"(34.7907, -118.317)",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,1,1,1

## ArcGis Import

Our data is finally free of impurities, and we are ready to upload all of this data to the ArcGIS server. However, it did require us to register as an ArcGIS developer and also create credentials that are associated with us. For that reason, we log in as an anonymous user for the purposes of showing the method, and leave the cells that require us to use creadentials uncompliled.

We log into https://www.arcgis.com and create a map object m1.

In [12]:
from arcgis.gis import *
from arcgis import SpatialDataFrame
import pandas as pd

gis = GIS("https://www.arcgis.com", "yessenbayev", "ece180final")
m1 = gis.map('Los Angeles')

Due to the limitations of the free developer ArcGIS account we only upload the 'DR Number' and 'Crime Code Description' columns.

We create the shape column, which holds ArcGIS's native object Geometry in each of the rows. This column will tell ArcGIS the coordinates to plot the data.

In [13]:
df2 = pd.DataFrame({'DR Number':df1['DR Number'],
                    'Crime Code Description': df1["Crime Code Description"],
                    'SHAPE':[0]*len(df1['DR Number'])})
df2['SHAPE'] = df1.apply(lambda row : arcgis.geometry.Geometry({'x': row['x'], 'y': row['y']}), axis=1 )

In the end, we pass the truncated dataframe df2 to the SpatialDataFrame constructor (sdf). This object will be uploaded to ArcGIS and this method is the only way to upload a dataset of this size.

In [14]:
sdf = SpatialDataFrame(df2)
layer = gis.content.import_data(sdf,"LA Crime 2010-2017")
m1.add_layer(layer)
m1

Exception: SpatialDataFrame's must have either pyshp or arcpy available to use import_data

In [ ]:
layer

The layer is already uploaded to ArcGIS. The link below will lead you to the map.

https://yessenbayev.maps.arcgis.com/home/webmap/viewer.html?layers=e6fea7082d50465a92b8df060ba4a134