In [1]:
# Alan's code from Map

# import libraries and read data
import pandas as pd
import numpy as np
from arcgis.gis import *
from ast import literal_eval

df = pd.read_csv('Crime_Data_from_2010_to_Present.csv')

# pick out bad entries nan in 'Location'
temp = [p for p in df['Location ']]
badentries = []
for i in range(len(temp)):
    if type(temp[i]) != str:
        badentries.append(i)
badentries #ones with location nan

[659026, 736132, 1473914, 1532070, 1532072, 1532073, 1532086, 1532087, 1532089]

In [2]:
# pick out bad entries '(0,0)' in 'Location'
df1 = df.drop(df.index[badentries])
#df1 = df.drop(badentries)
temp = [p for p in df1['Location ']]
for i in range(len(temp)):
    if type(temp[i]) != str:
        print(i)
        
df1['Location '] = df1['Location '].apply(literal_eval)

In [3]:
grp =df.groupby('Location ')
Nan = grp.get_group('(0, 0)')# "No location"
Nan.count()
df1 = df1.drop(Nan.index)

In [4]:
# Grouping crimes together

important_crime_types = ['ASSAULT','HOMICIDE','WEAPONS','SEXUAL OFFENSE',
                         'CRIMES AGAINST CHILDREN','THEFT','VEHICLE']

Assault = ['INTIMATE PARTNER - SIMPLE ASSAULT','BATTERY - SIMPLE ASSAULT',
           'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
           'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT', 'OTHER ASSAULT',
           'INTIMATE PARTNER - AGGRAVATED ASSAULT', 
           'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
           'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER','BATTERY POLICE (SIMPLE)',
           'BATTERY ON A FIREFIGHTER']

Homicide = ['CRIMINAL HOMICIDE','LYNCHING - ATTEMPTED','LYNCHING',
            'MANSLAUGHTER', 'NEGLIGENT']

Weapons = ['BOMB SCARE','SHOTS FIRED AT INHABITED DWELLING',
           'BRANDISH WEAPON','ARSON','DISCHARGE FIREARMS/SHOTS FIRED',
           'WEAPONS POSSESSION/BOMBING',
           'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)0132',
           'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
           'FIREARMS RESTRAINING ORDER (FIREARMS RO)']

Sexual_Offense = ['SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH 0007=02',
                  'INDECENT EXPOSURE','RAPE, FORCIBLE',
                  'BATTERY WITH SEXUAL CONTACT',
                  'SEXUAL PENTRATION WITH A FOREIGN OBJECT','LETTERS, LEWD',
                  'RAPE, ATTEMPTED','LEWD CONDUCT','PIMPING','SEX, UNLAWFUL',
                  'ORAL COPULATION','PANDERING',
                  'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)']

Crimes_against_Children = ['CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
                           'CHILD NEGLECT (SEE 300 W.I.C.)',
                           'CHILD ANNOYING (17YRS & UNDER)',
                           'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)0060',
                           'CHILD STEALING','CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
                           'CHILD ABANDONMENT','DRUGS, TO A MINOR']

Theft = ['THEFT PLAIN - PETTY ($950 & UNDER)',
         'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
         'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)',
         'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD0036',
         'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $400 & UNDER',
         'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)',
         'THEFT, PERSON','THEFT PLAIN - ATTEMPT',
         'THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)','THEFT OF IDENTITY',
         'BUNCO, GRAND THEFT','BUNCO, PETTY THEFT','THEFT FROM PERSON - ATTEMPT',
         'DISHONEST EMPLOYEE - PETTY THEFT','THEFT FROM MOTOR VEHICLE - ATTEMPT',
         'DISHONEST EMPLOYEE - GRAND THEFT',
         'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $400',
         'GRAND THEFT / INSURANCE FRAUD',
         'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)',
         'GRAND THEFT / AUTO REPAIR','PETTY THEFT - AUTO REPAIR',
         'TILL TAP - GRAND THEFT ($950.01 & OVER)','THEFT, COIN MACHINE - ATTEMPT']

Vehicle = ['VEHICLE - ATTEMPT STOLEN',
           'VEHICLE - STOLEN', 
           'BURGLARY FROM VEHICLE', 
           'THEFT FROM MOTOR VEHICLE - ATTEMPT', 
           'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)', 
           'THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)', 
           'THROWING OBJECT AT MOVING VEHICLE',
           'BURGLARY FROM VEHICLE, ATTEMPTED']

Other = Assault + Homicide + Crimes_against_Children

In [5]:
# reset coulmn names to all lower cases
df1.columns = ['DR_Number','date_reported','date_occurred','time_occurred','area_ID','area_name','reporting_district','crime_code','crime_code_description','MO_code','victim_age','victim_sex','victim_descent',	'premise_code',	'premise_description','weapon_used_code','weapon_description','status_code','status_description','crime_code1','crime_code2','crime_code3','crime_code4','address','cross_street','location']

In [6]:
# construct 'x' and 'y' and delete 'location'

new_col_list = ['y','x']
for n,col in enumerate(new_col_list):
    df1[col] = df1['location'].apply(lambda location: location[n])
del df1['location']

In [7]:
df1.columns

Index(['DR_Number', 'date_reported', 'date_occurred', 'time_occurred',
       'area_ID', 'area_name', 'reporting_district', 'crime_code',
       'crime_code_description', 'MO_code', 'victim_age', 'victim_sex',
       'victim_descent', 'premise_code', 'premise_description',
       'weapon_used_code', 'weapon_description', 'status_code',
       'status_description', 'crime_code1', 'crime_code2', 'crime_code3',
       'crime_code4', 'address', 'cross_street', 'y', 'x'],
      dtype='object')

In [8]:
# construct SpatialDataFrame with DR Number, Crime code desc, data occurred, Shape

df2 = pd.DataFrame({'DR_Number':df1['DR_Number'],
                    'crime_code_description': df1["crime_code_description"],
                    'date_occurred': df1["date_occurred"],
                    'SHAPE':[0]*len(df1['DR_Number'])})
df2['SHAPE'] = df1.apply(lambda row : arcgis.geometry.Geometry({'x': row['x'], 'y': row['y']}), axis=1 )

In [9]:
# Assigning a single label for each group of crimes

#df2.loc[(df2.crime_code_description.isin(Other)),'crime_code_description'] = 'OTHER'
df2.loc[(df2.crime_code_description.isin(Assault)),'crime_code_description'] = 'ASSAULT'
df2.loc[(df2.crime_code_description.isin(Homicide)),'crime_code_description'] = 'HOMICIDE'
df2.loc[(df2.crime_code_description.isin(Crimes_against_Children)),'crime_code_description'] = 'CHILDREN'
df2.loc[(df2.crime_code_description.isin(Weapons)),'crime_code_description'] = 'WEAPONS'
df2.loc[(df2.crime_code_description.isin(Sexual_Offense)),'crime_code_description'] = 'SEXUAL OFFENSE'
df2.loc[(df2.crime_code_description.isin(Theft)),'crime_code_description'] = 'THEFT'
df2.loc[(df2.crime_code_description.isin(Vehicle)),'crime_code_description'] = 'VEHICLE'

In [10]:
#in16_17 = df1[(df1.date_occurred.str.endswith('16')) | (df1.date_occurred.str.endswith('17'))]

In [12]:
# dataframes for each big category of crimes, and important crimes

df_important = df2[df2['crime_code_description'].isin(important_crime_types)]
df_OTHER = df2[(df2['crime_code_description'] == 'ASSAULT') | (df2['crime_code_description'] == 'HOMICIDE') |
                  (df2['crime_code_description'] == 'CHILDREN')]
df_ASSAULT = df2[df2['crime_code_description'] == 'ASSAULT']
df_HOMICIDE = df2[df2['crime_code_description'] == 'HOMICIDE']
df_CHILDREN = df2[df2['crime_code_description'] == 'CHILDREN']
df_WEAPONS = df2[df2['crime_code_description'] == 'WEAPONS']
df_SEXUAL = df2[df2['crime_code_description'] == 'SEXUAL OFFENSE']
df_THEFT = df2[df2['crime_code_description'] == 'THEFT']
df_VEHICLE = df2[df2['crime_code_description'] == 'VEHICLE']

In [13]:
# dataframes for each big category of crimes, and important crimes, in 2016 and 2017

df_important_16_17 = df_important[(df_important.date_occurred.str.endswith('16')) | (df_important.date_occurred.str.endswith('17'))]
df_OTHER_16_17 = df_OTHER[(df_OTHER.date_occurred.str.endswith('16')) | (df_OTHER.date_occurred.str.endswith('17'))]
df_ASSAULT_16_17 = df_ASSAULT[(df_ASSAULT.date_occurred.str.endswith('16')) | (df_ASSAULT.date_occurred.str.endswith('17'))]
df_HOMICIDE_16_17 = df_HOMICIDE[(df_HOMICIDE.date_occurred.str.endswith('16')) | (df_HOMICIDE.date_occurred.str.endswith('17'))]
df_CHILDREN_16_17 = df_CHILDREN[(df_CHILDREN.date_occurred.str.endswith('16')) | (df_CHILDREN.date_occurred.str.endswith('17'))]
df_WEAPONS_16_17 = df_WEAPONS[(df_WEAPONS.date_occurred.str.endswith('16')) | (df_WEAPONS.date_occurred.str.endswith('17'))]
df_SEXUAL_16_17 = df_SEXUAL[(df_SEXUAL.date_occurred.str.endswith('16')) | (df_SEXUAL.date_occurred.str.endswith('17'))]
df_THEFT_16_17 = df_THEFT[(df_THEFT.date_occurred.str.endswith('16')) | (df_THEFT.date_occurred.str.endswith('17'))]
df_VEHICLE_16_17 = df_VEHICLE[(df_VEHICLE.date_occurred.str.endswith('16')) | (df_VEHICLE.date_occurred.str.endswith('17'))]

In [14]:
# convert df to sdf

from arcgis import SpatialDataFrame

df_important_16_17_sdf = SpatialDataFrame(df_important_16_17)
df_OTHER_16_17_sdf = SpatialDataFrame(df_OTHER_16_17)
df_ASSAULT_16_17_sdf = SpatialDataFrame(df_ASSAULT_16_17)
df_HOMICIDE_16_17_sdf = SpatialDataFrame(df_HOMICIDE_16_17)
df_CHILDREN_16_17_sdf = SpatialDataFrame(df_CHILDREN_16_17)
df_WEAPONS_16_17_sdf = SpatialDataFrame(df_WEAPONS_16_17)
df_SEXUAL_16_17_sdf = SpatialDataFrame(df_SEXUAL_16_17)
df_THEFT_16_17_sdf = SpatialDataFrame(df_THEFT_16_17)
df_VEHICLE_16_17_sdf = SpatialDataFrame(df_VEHICLE_16_17)

In [15]:
df_OTHER_16_17_sdf

,DR_Number,SHAPE,crime_code_description,date_occurred
1208239,151601466,"{'x': -118.4238, 'y': 34.2606}",ASSAULT,01/01/2016
1208240,151601467,"{'x': -118.2818, 'y': 34.2463}",ASSAULT,01/02/2016
1208241,151801503,"{'x': -118.2358, 'y': 33.9431}",ASSAULT,01/01/2016
1208243,160100503,"{'x': -118.254, 'y': 34.0383}",ASSAULT,01/01/2016
1208244,160100504,"{'x': -118.2418, 'y': 34.0493}",ASSAULT,01/01/2016
1208248,160100509,"{'x': -118.2476, 'y': 34.0461}",ASSAULT,01/03/2016
1208250,160100511,"{'x': -118.2414, 'y': 34.0491}",ASSAULT,01/02/2016
1208251,160100513,"{'x': -118.2455, 'y': 34.0555}",ASSAULT,01/03/2016
1208252,160100514,"{'x': -118.2499, 'y': 34.0453}",ASSAULT,01/06/2016
1208256,160100520,"{'x': -118.2415, 'y': 34.0449}",ASSAULT,01/08/2016
1208257,160100522,"{'x': -118.2415, 'y': 34.0449}",ASSAULT,01/08/2016
1208258,160100527,"{'x': -118.2569, 'y': 34.0452}",ASSAULT,01/09/2016
1208266,160100544,"{'x': -118.2656, 'y': 34.0395}",ASSAULT,01/15/2016
1208272,160100568,"{'x': -118.2469, 'y': 34.0421}",ASSAULT,01/25/2016
1208277,160100587,"{'x': -118.2439, 'y': 34.0442}",ASSAULT,01/30/2016
1208282,160100606,"{'x': -118.2461, 'y': 34.0428}",ASSAULT,02/06/2016
1208283,160100607,"{'x': -118.264, 'y': 34.045}",ASSAULT,02/06/2016
1208285,160100619,"{'x': -118.252, 'y': 34.0467}",ASSAULT,02/12/2016
1208286,160100621,"{'x': -118.256, 'y': 34.048}",ASSAULT,02/12/2016
1208287,160100622,"{'x': -118.2504, 'y': 34.0503}",ASSAULT,02/12/2016
1208288,160100623,"{'x': -118.2504, 'y': 34.0503}",ASSAULT,02/12/2016
1208289,160100625,"{'x': -118.2563, 'y': 34.0495}",ASSAULT,02/03/2016
1208292,160100632,"{'x': -118.2439, 'y': 34.0442}",ASSAULT,02/14/2016
1208293,160100635,"{'x': -118.2424, 'y': 34.0515}",ASSAULT,02/14/2016
1208295,160100645,"{'x': -118.2461, 'y': 34.0428}",ASSAULT,02/17/2016
1208297,160100649,"{'x': -118.249, 'y': 34.0446}",ASSAULT,02/19/2016
1208298,160100650,"{'x': -118.2584, 'y': 34.0416}",ASSAULT,02/20/2016
1208300,160100652,"{'x': -118.24, 'y': 34.0498}",ASSAULT,02/21/2016
1208301,160100654,"{'x': -118.24, 'y': 34.0498}",ASSAULT,02/16/2016
1208305,160100659,"{'x': -118.248, 'y': 34.051}",ASSAULT,02/22/2016
...,...,...,...,...
1621262,172118947,"{'x': -118.6152, 'y': 34.1732}",ASSAULT,10/27/2017
1621263,172118948,"{'x': -118.6152, 'y': 34.1732}",ASSAULT,10/27/2017
1621265,172118950,"{'x': -118.6059, 'y': 34.1811}",ASSAULT,10/26/2017
1621294,172119000,"{'x': -118.5732, 'y': 34.2096}",ASSAULT,10/29/2017
1621303,172119012,"{'x': -118.5743, 'y': 34.1516}",ASSAULT,10/24/2017
1621321,172119037,"{'x': -118.604, 'y': 34.2335}",ASSAULT,10/29/2017
1621322,172119038,"{'x': -118.5932, 'y': 34.2234}",ASSAULT,10/30/2017
1621325,172119051,"{'x': -118.5732, 'y': 34.2202}",ASSAULT,10/30/2017
1621326,172119052,"{'x': -118.6104, 'y': 34.2128}",ASSAULT,10/27/2017
1621329,172119060,"{'x': -118.5994, 'y': 34.1974}",ASSAULT,10/27/2017
1621332,172119065,"{'x': -118.5991, 'y': 34.2065}",ASSAULT,10/30/2017
1621336,172119070,"{'x': -118.5976, 'y': 34.2246}",ASSAULT,10/30/2017
1621337,172119071,"{'x': -118.5699, 'y': 34.1957}",CHILDREN,10/01/2016
1621344,172119078,"{'x': -118.5975, 'y': 34.1956}",ASSAULT,10/30/2017
1621353,172119091,"{'x': -118.5702, 'y': 34.2156}",ASSAULT,10/31/2017
1621355,172119101,"{'x': -118.5881, 'y': 34.1681}",ASSAULT,10/31/2017
1621364,172119118,"{'x': -118.577, 'y': 34.1545}",ASSAULT,10/31/2017
1621380,172119147,"{'x': -118.6029, 'y': 34.2257}",ASSAULT,11/01/2017
1621382,172119156,"{'x': -118.606, 'y': 34.2196}",ASSAULT,11/01/2017
1621383,172119157,"{'x': -118.5932, 'y': 34.2234}",ASSAULT,10/31/2017
1621389,172119166,"{'x': -118.6146, 'y': 34.1855}",ASSAULT,10/31/2017
1621390,172119167,"{'x': -118.5976, 'y': 34.2246}",ASSAULT,10/31/2017
1621396,172119174,"{'x': -118.6322, 'y': 34.2082}",ASSAULT,10/31/2017
1621397,172119175,"{'x': -118.6322, 'y': 34.2082}",ASSAULT,10/31/2017
1621398,172119176,"{'x': -118.5906, 'y': 34.1974}",ASSAULT,11/01/2017
1621406,172119190,"{'x': -118.5955, 'y': 34.2047}",ASSAULT,11/02/2017
1621411,172119202,"{'x': -118.5974, 'y': 34.1733}",ASSAULT,11/02/2017
1621414,172119206,"{'x': -118.5885, 'y': 34.1992}",ASSAULT,10/28/2017
1621432,172119257,"{'x': -118.5688, 'y': 34.2047}",ASSAULT,11/03/2017
1621437,172119268,"{'x': -118.6006, 'y': 34.232}",ASSAULT,11/03/2017

In [18]:
df_CHILDREN_16_17_sdf

,DR_Number,SHAPE,crime_code_description,date_occurred
1208427,160100923,"{'x': -118.242, 'y': 34.043}",CHILDREN,05/24/2016
1208446,160100963,"{'x': -118.2439, 'y': 34.0442}",CHILDREN,06/06/2016
1208468,160101004,"{'x': -118.2468, 'y': 34.0652}",CHILDREN,06/20/2016
1208817,160104275,"{'x': -118.2492, 'y': 34.0652}",CHILDREN,01/02/2016
1209301,160105973,"{'x': -118.2439, 'y': 34.0442}",CHILDREN,01/22/2016
1209733,160107404,"{'x': -118.2716, 'y': 34.0381}",CHILDREN,02/10/2016
1210409,160109551,"{'x': -118.2455, 'y': 34.0437}",CHILDREN,03/09/2016
1210511,160109802,"{'x': -118.2381, 'y': 34.049}",CHILDREN,03/14/2016
1212682,160116005,"{'x': -118.2556, 'y': 34.0467}",CHILDREN,05/31/2016
1212843,160116469,"{'x': -118.2378, 'y': 34.0583}",CHILDREN,05/30/2016
1213346,160117601,"{'x': -118.2509, 'y': 34.046}",CHILDREN,06/23/2016
1213654,160118287,"{'x': -118.2468, 'y': 34.0407}",CHILDREN,07/04/2016
1214440,160120296,"{'x': -118.24, 'y': 34.0498}",CHILDREN,07/29/2016
1214640,160120720,"{'x': -118.2579, 'y': 34.0459}",CHILDREN,08/07/2016
1214641,160120721,"{'x': -118.2579, 'y': 34.0459}",CHILDREN,08/07/2016
1214680,160120808,"{'x': -118.2577, 'y': 34.048}",CHILDREN,01/01/2016
1214764,160121006,"{'x': -118.2481, 'y': 34.0572}",CHILDREN,08/09/2016
1214835,160121194,"{'x': -118.2374, 'y': 34.0563}",CHILDREN,08/14/2016
1215203,160122131,"{'x': -118.2518, 'y': 34.0488}",CHILDREN,08/27/2016
1216916,160126126,"{'x': -118.2402, 'y': 34.0464}",CHILDREN,10/26/2016
1217355,160127127,"{'x': -118.2405, 'y': 34.0607}",CHILDREN,10/24/2016
1218183,160129275,"{'x': -118.2455, 'y': 34.0437}",CHILDREN,12/11/2016
1218389,160129702,"{'x': -118.254, 'y': 34.0502}",CHILDREN,12/18/2016
1218850,160200761,"{'x': -118.2734, 'y': 34.0598}",CHILDREN,06/07/2016
1219239,160204666,"{'x': -118.2828, 'y': 34.0665}",CHILDREN,01/12/2016
1219385,160204979,"{'x': -118.2731, 'y': 34.0508}",CHILDREN,01/20/2016
1219386,160204980,"{'x': -118.2731, 'y': 34.0508}",CHILDREN,01/20/2016
1219393,160205004,"{'x': -118.2773, 'y': 34.0407}",CHILDREN,01/20/2016
1219639,160205488,"{'x': -118.2762, 'y': 34.0389}",CHILDREN,01/29/2016
1219670,160205559,"{'x': -118.2944, 'y': 34.0763}",CHILDREN,01/30/2016
...,...,...,...,...
1615803,170323917,"{'x': -118.3423, 'y': 34.0142}",CHILDREN,06/01/2017
1615817,170324024,"{'x': -118.2974, 'y': 34.0141}",CHILDREN,10/01/2016
1615838,170324096,"{'x': -118.2915, 'y': 34.0305}",CHILDREN,10/01/2016
1616089,170324645,"{'x': -118.2944, 'y': 34.023}",CHILDREN,11/02/2017
1617593,170919039,"{'x': -118.4162, 'y': 34.1794}",CHILDREN,09/12/2017
1617877,171017291,"{'x': -118.4815, 'y': 34.1939}",CHILDREN,10/16/2017
1618087,171111643,"{'x': -118.1723, 'y': 34.1169}",CHILDREN,05/25/2017
1618161,171118629,"{'x': -118.2363, 'y': 34.1027}",CHILDREN,10/27/2017
1618310,171118897,"{'x': -118.2431, 'y': 34.1199}",CHILDREN,10/26/2017
1618337,171209817,"{'x': -118.2695, 'y': 33.9722}",CHILDREN,03/23/2017
1618361,171223908,"{'x': -118.2761, 'y': 33.9699}",CHILDREN,09/27/2017
1618364,171224956,"{'x': -118.2564, 'y': 33.9685}",CHILDREN,10/13/2017
1618381,171225737,"{'x': -118.3308, 'y': 33.97}",CHILDREN,10/24/2017
1618418,171225873,"{'x': -118.3089, 'y': 34.0019}",CHILDREN,10/26/2017
1618422,171225901,"{'x': -118.316, 'y': 33.9932}",CHILDREN,10/25/2017
1618591,171226146,"{'x': -118.2893, 'y': 33.9717}",CHILDREN,10/30/2017
1619489,171521233,"{'x': -118.373, 'y': 34.1767}",CHILDREN,10/27/2017
1619545,171521323,"{'x': -118.3878, 'y': 34.2012}",CHILDREN,10/30/2017
1619780,171616128,"{'x': -118.4134, 'y': 34.2698}",CHILDREN,10/27/2017
1619922,171708252,"{'x': -118.539, 'y': 34.2757}",CHILDREN,10/30/2016
1620249,171821277,"{'x': -118.2605, 'y': 33.9583}",CHILDREN,10/25/2017
1620425,171821627,"{'x': -118.2652, 'y': 33.9493}",CHILDREN,10/30/2017
1620486,171821815,"{'x': -118.2717, 'y': 33.933}",CHILDREN,11/01/2017
1620565,171920178,"{'x': -118.4509, 'y': 34.308}",CHILDREN,10/18/2017
1620760,171920872,"{'x': -118.4245, 'y': 34.3228}",CHILDREN,12/01/2016
1620852,172017372,"{'x': -118.3139, 'y': 34.0599}",CHILDREN,09/03/2017
1620958,172019516,"{'x': -118.2937, 'y': 34.0509}",CHILDREN,10/27/2017
1621014,172019638,"{'x': -118.2941, 'y': 34.0598}",CHILDREN,10/30/2017
1621050,172019698,"{'x': -118.3012, 'y': 34.0777}",CHILDREN,01/01/2016
1621337,172119071,"{'x': -118.5699, 'y': 34.1957}",CHILDREN,10/01/2016

In [19]:
# To-Do Dear Alan, please create a layer for each sdf created, which are:
# df_important_16_17_sdf
# df_OTHER_16_17_sdf
# df_ASSAULT_16_17_sdf
# df_HOMICIDE_16_17_sdf
# df_CHILDREN_16_17_sdf
# df_WEAPONS_16_17_sdf
# df_SEXUAL_16_17_sdf
# df_THEFT_16_17_sdf
# df_VEHICLE_16_17_sdf